{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "loose": false,
    "externalHelpers": false
  },
  "module": {
    "type": "es6"
  },
  "minify": true,
  "env": {
    "targets": {
      "chrome": "91",
      "firefox": "90",
      "safari": "14",
      "edge": "91"
    },
    "mode": "entry",
    "coreJs": false,
    "shippedProposals": true,
    "exclude": [
      "transform-typeof-symbol"
    ]
  }
}